<section class="intro-section">
    <h1>Üdvözlünk a MegGyúrlak Masszázs Szalonban!</h1>
    <p>
      A MegGyúrlak Masszázs Szalon a testi-lelki feltöltődés oázisa, ahol a stressz és feszültség helyét
      nyugalom, harmónia és megújulás veszi át. Szakképzett masszőreink segítenek ellazulni, regenerálódni
      és visszanyerni energiaszintedet.
    </p>
    <p>
      A rendszeres masszázs nemcsak kellemes kikapcsolódás, de jótékonyan hat a vérkeringésre, csökkenti az izomfeszültséget,
      enyhíti a fájdalmat, támogatja az immunrendszert, és elősegíti a jobb alvást. Legyen szó egy lazító svédmasszázsról,
      frissítő talpmasszázsról vagy mélyreható sportmasszázsról – nálunk megtalálod a neked valót.
    </p>
    <p>
      Engedd meg, hogy gondoskodjunk rólad – gyere el hozzánk, és tapasztald meg a valódi kikapcsolódást!
    </p>

    <button mat-flat-button color="primary" routerLink="/booking" class="cta-button">
      Foglalj most
    </button>
  </section>
  
